.histogram {
    width: 354px;
    height: 185px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 16px 24px 24px;
}
.histogram__top {
    display: flex;
    margin-bottom: 39px;
    flex-direction: column-reverse;
    gap: 6px;
}
.histogram__header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
    opacity: 0.8;
    margin:0px;
    order:1;

}
.histogram__number {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #212429;
    margin:0px;
    order:0;


}
.all {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4263EB;
    align-self: flex-end;
    order:1;

}
.histogram__bottom {
    height: 50px;
}
.histogram__chart {
    display:flex;
    align-items: flex-end;
    height: 50px;
    gap:1px;
}
.histogram__chart-column {
    width: 9px;
    /*flex-grow: 1;*/
    background: #4263EB;
}