.preview {
    /*height: 1036px;*/
    padding: 68px 0px;
    background: #F9FAFC;
}

.preview__inner {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.preview__card {
    width: calc(100%/3 - 30px);
    /*flex-basis:350px;*/
}